.light_mode, .light_mode .current_tab {
    background: #fff;
    color: #1a1a1a;
}

.light_mode ::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 30px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.light_mode ::-webkit-scrollbar-thumb:hover {
    background: #ddd;
    border-radius: 0;
}

.light_mode #account_balance, .light_mode #addExpense, .light_mode #account_settings, .light_mode .balanceChangeTable, .light_mode #custom_alert, .light_mode #add_order, .light_mode #manage_orders > * {
    background: #f4f4f4;
}

.light_mode h1, .light_mode h2, .light_mode h3, .light_mode label, .light_mode input, .light_mode td, .light_mode #from_date, .light_mode #until_date, .light_mode #custom_alert, .light_mode .selected, .light_mode .option, .light_mode #add_order h2, .light_mode #manage_orders h2 {
    color: #1a1a1a;
}

.light_mode #options svg:hover {
    background: rgba(0, 0, 0, 0.2);
}

.light_mode input, .light_mode .toggle_checkbox, .light_mode #from_date, .light_mode #until_date, .light_mode .selected, .light_mode #exec_date, .light_mode .limited_height .custom-select {
    background: #e4e4e4;
}

.light_mode .tab::after {
    background: linear-gradient(90deg, rgba(221,221,221,0) 0%, rgba(221,221,221,1) 65%);
}

.light_mode .current_tab.tab::after {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 65%);
}

.light_mode .tab:not(.current_tab):hover::after {
    background: linear-gradient(90deg, rgba(238,238,238,0) 0%, rgba(238,238,238,1) 65%);
}

.light_mode header, .light_mode #global_settings {
    background: #ddd;
}

.light_mode #global_settings::before {
    border-color: transparent transparent #ddd transparent;
}

.light_mode .tab:hover, .light_mode #close-btn:hover::before, .light_mode #close-btn:hover::after {
    background: #fff;
}

.light_mode .tab:not(.current_tab):hover, .light_mode button[name=add_tab]:hover, .light_mode header > .window_nav:hover, .light_mode button[name=add_tab]:hover {
    background: #eee;
}

.light_mode #from_date:hover, .light_mode #until_date:hover, .light_mode .option {
    background-color: #ccc;
}

.light_mode #max-btn::before {
    border-color: #1a1a1a;
}

.light_mode #close-btn::before, .light_mode #close-btn::after, .light_mode #min-btn::before, .light_mode #config-btn span, .light_mode #config-btn span::after, .light_mode button[name=add_tab]::before, .light_mode button[name=add_tab]::after {
    background: #1a1a1a;
}

.light_mode .custom-select-container::after {
    border-top: 7px solid #1a1a1a;
}

.light_mode .custom-select-container.limited_height .custom-select::before {
    background: linear-gradient(180deg, rgba(228,228,228,1) 0%, rgba(228,228,228,1) 50%, rgba(228,228,228,0) 100%);
}

.light_mode .custom-select-container.limited_height .custom-select::after {
    background: linear-gradient(0deg, rgba(228,228,228,1) 0%, rgba(228,228,228,1) 50%, rgba(228,228,228,0) 100%);
}

.light_mode #back_btn .st0 {
    fill: #1a1a1a;
}

.light_mode #global_settings .selected, .light_mode .option:hover, .light_mode #global_settings .toggle_checkbox {
    background: #bbb;
}

.light_mode .tab::before {
    background: #808080;
}
