@import "../vars";
@import 'react-datepicker/dist/react-datepicker.min.css';
@use 'sass:color';

#time_span {
  transform: translateY(31%);
}

#from_date, #until_date {
  color: $accentWhite;
  background: $dark4;
  padding: .4em .8em .5em .8em;
  font-size: 1.1em;
  border-radius: 1em;
  transition: background-color .2s ease-out;
}

html[lang=ja] #from_date, html[lang=ja] #until_date {
  padding: .4em .8em;
}

#until_date {
  position: relative;
  margin-left: 2em;
}

#until_date::before {
  content: "";
  height: 1px;
  width: .75em;
  position: absolute;
  top: 50%;
  left: -1em;
  transform: translateX(-50%);
  background: $dark5;
}

#from_date:hover, #until_date:hover {
  background-color: $dark5;
}
#main_header {
  display: flex;
  justify-content: space-between;
}

#dateTimePickerContainer {
  background: rgba($dark0, .5);
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datepicker {
  font-family: inherit;
  background-color: $dark3;
  color: $accentWhite;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  * {
    color: inherit;
    font-weight: inherit;
    border: inherit;
    font-size: inherit;
    font-family: inherit;
  }

  .react-datepicker__header {
    background: $accentPink;
    text-transform: uppercase;
    .react-datepicker__current-month {
      font-size: 1.5em;
    }
  }

  .react-datepicker__day:hover {
    background: $accentWhite;
    color: $accentPink;
  }

  .react-datepicker__day--selected {
    background: $accentPink;
  }

  .react-datepicker__navigation-icon::before {
    border-color: $accentWhite;
  }

  .react-datepicker__navigation:hover .react-datepicker__navigation-icon::before {
    border-color: $accentWhite;
  }

  .react-datepicker__navigation {
    top: -0.8rem;
  }

  .react-datepicker__day--keyboard-selected {
    background: transparent;
  }
}

