@import "../vars";

#addExpense {
  padding: .4em .65em .75em .65em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: $dark3;
  border-radius: 4px;
  margin-bottom: .6em;
}

#addExpense label {
  font-size: .6em;
  display: flex;
  flex-direction: column;
  margin-top: .2em;
}