@import "../vars";

#no_accounts {
  background: $dark2;
  height: calc(100vh - #{$headerHeight});
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  .container {
    width: 30%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: 1200px) {
    .container {
      width: 50%;
    }
  }
  @media only screen and (max-width: 1000px) {
    .container {
      width: 60%;
    }
  }
  @media only screen and (max-width: 700px) {
    .container {
      width: 80%;
    }
  }
  .message {
    max-width: 80%;
    text-align: center;
    display: block;
    margin-bottom: 2em;
    color: $accentWhite;
  }
  #accountName {
    width: 100%;
    box-sizing: border-box;
  }
  button, input {
    width: 100%;
    font-size: inherit;
  }
  #logo {
    width: 10vw;
  }
}

