@import "../vars";

#standing_orders {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 41px);
  top: 41px;
  left: 100vw;
  font-size: 32px;
  overflow-y: auto;
  z-index: 9;
  visibility: hidden;
  transition: left .3s linear, visibility .3s .3s linear;
}

.open_orders main {
  transform: translateX(-100vw);
  visibility: hidden;
  transition: transform .3s linear, visibility .3s .3s linear;
}

.open_orders #standing_orders {
  left: 0;
  visibility: visible;
  transition: left .3s linear, visibility .3s linear;
}

#back_btn {
  position: absolute;
  top: .5em;
  left: .5em;
  height: 30px;
  cursor: pointer;
}

#back_btn .st0 {
  fill: $accentWhite;
}

#exec_date {
  margin: .4em 0 .8em 0;
  background: $dark4;
  width: 100%;
  padding: .4em .8em .45em .8em;
  box-sizing: border-box;
  border-radius: 2em;
}

html[lang=ja] #exec_date {
  padding: .4em .8em;
}

#order_wrapper input, #order_wrapper .custom-select-container  {
  margin: .4em 0 .8em 0;
}

#order_wrapper {
  width: 800px;
  height: auto;
  margin: 140px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#add_order, #manage_orders > * {
  background: $dark3;
  border-radius: 4px;
  padding: .45em .75em .55em .75em;
  box-sizing: border-box;
  height: auto;
}

html[lang=ja] #manage_orders > * {
  padding: .45em .75em;
}

#add_order, #manage_orders {
  width: calc(50% - .3em);
}

#add_order .custom-select-container {
  z-index: 6;
}

#add_order button {
  width: 100%;
}

#order_wrapper label {
  font-size: .6em;
  display: flex;
  flex-direction: column;
}

#order_wrapper button {
  margin-top: .6em;
}

#order_wrapper h2 {
  color: $accentWhite;
  margin-bottom: .2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#add_order #exec_on_last {
  z-index: 7;
}

.standing_order {
  margin-top: .6em;
  padding-top: .6em !important;
  padding-bottom: .6em !important;
}

.dot {
  position: relative;
  z-index: 8;
}

.int {
  position: relative;
  z-index: 4;
}

#interval_select {
  position: relative;
  z-index: 8;
}

#exec_on_last {
  position: relative;
  z-index: 4;
}

@media only screen and (max-width: 900px) {
  #order_wrapper {
    width: 50%;
    flex-direction: column;
    margin: 100px auto;
  }
  #add_order, #manage_orders {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  #order_wrapper {
    width: 61.8%;
  }
}

@media only screen and (max-width: 600px) {
  #order_wrapper {
    width: 75%;
  }
}