.transaction-filter {
    background: #333;
    border-radius: 4px;
    margin-top: 1.2rem;
    padding: 1rem 1.5rem;
    h2 {
        font-size: 2rem;
        line-height: 1em;
        margin-bottom: 0.2em;
        color: white;
    }
    .input-container {
        display: flex;
        gap: 1.5rem;
        input {
            flex: 1 1 0;
            font-size: 1.2rem;
        }
        @media screen and (max-width: 1000px) {
            flex-direction: column;
            gap: 0.2rem;
        }
    }
}
