@import "fonts/BarlowCondensed/BarlowCondensed.css";
@import "fonts/NotoSansJP/NotoSansJP.css";

#root {
  font-family: "Barlow Condensed", "Noto Sans JP", sans-serif;
}

.lang-es {
  #order_wrapper {
    width: 1100px;
  }
  @media only screen and (max-width: 1200px) {
    #order_wrapper {
      width: 90%;
    }
  }
  @media only screen and (max-width: 900px) {
    #order_wrapper {
      width: 70%;
    }
  }
}

.lang-ja {
  #global_settings {
    width: 200px;
  }

  #standing_orders label:not(.dot) .custom-select-container {
    .option, .selected {
      padding: .25em .8em .34em .8em;
    }
  }

  .defaultButton {
    padding: 0.17em 0.4em 0.37em;
  }
}

.option[data-value="ja"], .lang-ja #global_settings .selected, #no_accounts .option, #no_accounts .selected {
  padding: .25em .8em .34em .8em;
}