@import url("./fonts/barlow_condensed/barlow_condensed.css");

// TODO
//@import url("../node_modules/date-time-picker/dist/date-time-picker.min.css");

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  outline: none;
  user-select: none;
}

.hide_btn {
  display: none !important;
}

html[lang=ja] * {
  font-family: 'Yu Gothic', 'Yu Gothic UI', '游ゴシック', '游ゴシック体', 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
}

button {
  outline: none;
  background: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 30px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
  border-radius: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.hide_scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

#root {
  background: #292929;
}

main {
  width: 100%;
  height: calc(100vh - 41px);
  //TODO: TEST FOR CORRECTNESS; PREVIOUSLY overlay
  overflow-y: scroll;
  transition: transform .3s linear, visibility .3s linear;
}

#custom_alert {
  font-size: 21px;
  max-width: 450px;
  background: #333;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-100%);
  z-index: 10;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .2s ease-out;
  pointer-events: none;
}

#custom_alert.open_alert, .open_alert {
  pointer-events: all;
  opacity: 1;
  transform: translate(-50%,-50%);
}

#custom_alert #buttons {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

#custom_alert #buttons button {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: .5em;
}

#custom_alert #buttons button:first-of-type {
  margin-right: 1em;
}

#custom_message {
  margin-bottom: .5em;
}

#custom_html {
  z-index: 2;
  width: 100%;
}

#account {
  width: 100%;
  margin-top: .6em;
  font-size: 32px;
  position: relative;
  background: transparent;
  color: white;
  display: flex;
}

aside {
  margin-left: .6em;
  flex: 1 1 0;
}

main button, #standing_orders button, #global_settings button, #custom_alert button {
  border-radius: 50px;
  padding: .4em;
  padding-bottom: .45em;
  cursor: pointer;
  position: relative;
  font-size: .6em;
  transition: color .2s ease-in-out;
  z-index: 1;
  overflow: hidden;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 1.2em;
}

html[lang=ja] main button, html[lang=ja] #standing_orders button, html[lang=ja] #global_settings button, html[lang=ja] #custom_alert button {
  padding: .4em .8em;
}

main button::after, #standing_orders button::after, #global_settings button::after, #custom_alert button::after {
  content: "";
  width: 108%;
  height: 210%;
  position: absolute;
  top:50%;
  transform-origin: 50% 50%;
  transform: translateY(-25%);
  left:0;
  transition: transform .2s ease-in-out;
  z-index: -1;
}

main button:not(.del):hover::after, #standing_orders button:not(.del):hover::after, #global_settings button:hover::after, #custom_alert button:hover::after {
  transform: translateY(-75%);
}

label {
  color: white;
}

input, select {
  margin: .4em 0;
  border-radius: 50px;
  font-size: 1em;
  color: white;
  background: #444;
  padding: .4em .8em .45em .8em;
}

html[lang=ja] input {
  padding: .4em .8em;
}

.wrapper {
  width: 75%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

#main_header {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #fff;
  font-size: 3em;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 0;
}

h2 {
  font-size: 1em;
  margin-bottom: .6em;
  text-transform: uppercase;
}

.contain_two {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contain_two > * {
  width: 45%;
}

@media only screen and (max-width: 1000px) {
  #account {
    flex-direction: column-reverse;
  }
  aside {
    flex-grow: 0;
    margin-left: 0;
  }
}

#time_span {
  transform: translateY(31%);
}

#from_date, #until_date {
  color: white;
  background: #444;
  padding: .4em .8em .5em .8em;
  font-size: 1.1em;
  border-radius: 1em;
  transition: background-color .2s ease-out;
}

html[lang=ja] #from_date, html[lang=ja] #until_date {
  padding: .4em .8em;
}

#until_date {
  position: relative;
  margin-left: 2em;
}

#until_date::before {
  content: "";
  height: 1px;
  width: .75em;
  position: absolute;
  top: 50%;
  left: -1em;
  transform: translateX(-50%);
  background: #666;
}

#from_date:hover, #until_date:hover {
  background-color: #666;
}

.pcr-save, .pcr-cancel {
  padding: .37em .5em .53em .5em !important;
  border-radius: 1em !important;
}

html[lang=ja] .pcr-save, html[lang=ja] .pcr-cancel {
  padding: .45em .5em .45em .5em !important;
  border-radius: 2em !important;
}
