@import "./fonts/barlow_condensed/barlow_condensed.css";
@import "./vars";

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  outline: none;
  user-select: none;
}

.hide_btn {
  display: none !important;
}

html[lang=ja] * {
  font-family: 'Yu Gothic', 'Yu Gothic UI', '游ゴシック', '游ゴシック体', 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
}

button {
  outline: none;
  background: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $dark4;
  border-radius: 30px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: $dark4;
  border-radius: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.hide_scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

#root {
  background: $dark2;
}

main button, #standing_orders button, #global_settings button, #custom_alert button {
  border-radius: 50px;
  padding: .4em .4em .45em;
  cursor: pointer;
  position: relative;
  font-size: .6em;
  transition: color .2s ease-in-out;
  z-index: 1;
  overflow: hidden;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 1.2em;
}

html[lang=ja] main button, html[lang=ja] #standing_orders button, html[lang=ja] #global_settings button, html[lang=ja] #custom_alert button {
  padding: .4em .8em;
}

main button::after, #standing_orders button::after, #global_settings button::after, #custom_alert button::after {
  content: "";
  width: 108%;
  height: 210%;
  position: absolute;
  top:50%;
  transform-origin: 50% 50%;
  transform: translateY(-25%);
  left:0;
  transition: transform .2s ease-in-out;
  z-index: -1;
}

main button:not(.del):hover::after, #standing_orders button:not(.del):hover::after, #global_settings button:hover::after, #custom_alert button:hover::after {
  transform: translateY(-75%);
}

label {
  color: $accentWhite;
}

input, select {
  margin: .4em 0;
  border-radius: 50px;
  font-size: 1em;
  color: $accentWhite;
  background: $dark4;
  padding: .4em .8em .45em .8em;
}

html[lang=ja] input {
  padding: .4em .8em;
}

h1 {
  color: $accentWhite;
  font-size: 3em;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 0;
}

h2 {
  font-size: 1em;
  margin-bottom: .6em;
  text-transform: uppercase;
}


.pcr-save, .pcr-cancel {
  padding: .37em .5em .53em .5em !important;
  border-radius: 1em !important;
}

html[lang=ja] .pcr-save, html[lang=ja] .pcr-cancel {
  padding: .45em .5em .45em .5em !important;
  border-radius: 2em !important;
}
