$dark0: #1a1a1a;
$dark1: #232323;
$dark2: #292929;
$dark3: #333333;
$dark4: #444444;
$dark5: #666666;
$light0: #808080;
$light1: #bbbbbb;
$light2: #cccccc;
$light3: #dddddd;
$light4: #e4e4e4;
$light5: #eeeeee;
$light6: #f4f4f4;
$accentWhite: #ffffff;
$accentPink: #ff33a3;
$proceed: green;
$expense: red;
$close: rgba(255, 0, 0, 0.75);
$headerHeight: 41px;